body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS;
}
#home{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
}
    .navigation{
        width: 100%;
        height: 15%;
        background-color: rgba(255, 255, 255, 0.308);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .logo{
            width: 30%;
        }
        .menu{
            width: 50%;
            display: flex;
            justify-content: space-around;
            list-style: none;
        }
            .li{
                color: black;
                text-decoration: none;
                font-size: large;
            }
            .li:hover{
                color: red;
            }
    .welcome{
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: space-around;
        justify-content: center;
        align-items: center;
    }
        .hair{
            width: 35%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .woman{
                z-index: 1;
                height: 95%;
                border: 3px dashed black;
                border-radius: 30px;
            }
        .glad{
            width: 35%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: ;
        }
            .numberone{
                text-align: center;
            }
#about{
    width: 100%;
    height: 100vh;
    background-image: url(background2.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .about{
        width: 80%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }
        .history{
            width: 45%;
            text-align: center;
            font-size: larger;
        }
        .founders{
            width: 40%;
        }
    .gohome{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        text-decoration: none;
    }
        .fa-arrow-alt-circle-up{
            font-size: 48px;
            color: black;
        }
#shampoo{
    width: 100%;
    height: 100vh;
    background-image: url(background3.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .shampoo{
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
        .part{
            height: 100%;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
            .pa{
                display: flex;
                width: 100%;
                height: 45%;
            }
                .img{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                }
                    .imgshv{
                        height: 100%;
                    }
                .nair{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                }
                    .h{
                        text-align: center;
                    }
#special{
    width: 100%;
    height: 100vh;
    background-image: url(background4.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact{
    width: 100%;
    height: 100vh;
    background-image: url(background5.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .cont{
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact{
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
    }
        .web{
            text-decoration: none;
            color: black;
        }
        .web:hover{
            color: red;
        }